@{
    Layout="~/views/shared/_Layout.cshtml";
}
@using(Html.BeginForm()){
	<div class="row">
		Mail<input type="text" name="mail" class="form-control"/>
	</div>

		<div class="row">
	Şifre <input type="password" name="pass" class="form-control"/>
	</div>
	<div class="row">
		 <button type="submit" >Giriş</button>
	</div>
}